*{
    margin:0;
    padding:0;

}
body{
    background-image: url(back.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height:100vh;
    width:100vw;
}
.loginbox{
  width:400px;
  height:400px;
  background-color: rgba(240, 248, 255, 0.266);
  margin: 0 auto;
  margin-top: 150px;
  border-radius: 10px;
  backdrop-filter: blur(6px);
  padding:20px;
}
.login h3{
    text-align: center;
    margin-top: 50px;;
}
.login input{
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    row-gap: 10px;
    margin-left: 100px;
    border-radius: 5px;
    height:30px;
    width:250px;
    position: center;
    /* margin: auto; */
}
.account{
    text-align: center;
    margin-top:20px;
}
.account:hover{
    color:green;
    cursor:pointer;
}